Flytura
    Produção 
        WEB
            0) IP de Prod: 54.156.244.197
            1) Instancia de produção
            2) ssh -i KeyParFlytura.pem ec2-user@54.156.244.197
            3) limpe a pasta do nginx ->sudo rm -rf /usr/share/nginx/html/*  e digite exit
            4) em /home/ec2-user limpe a pasta web -> sudo  rm -rf web
            5) Copiar Arquivos da usa maquina para a instancia Web-> scp -i KeyParFlytura.pem -r /mnt/c/Projetos/Flytura/web/dist/web/ ec2-user@54.156.244.197:/home/ec2-user
            6) sudo cp -r /home/ec2-user/web/browser/* /usr/share/nginx/html/

        BACK
            0) IP de Prod: 54.156.244.197
            1) Instancia de produção
            2) ssh -i KeyParFlytura.pem ec2-user@54.156.244.197
            3) apague o binario da aplicação go -> sudo rm -rf /home/ec2-user/*  e digite exit  
            4) Copiar Arquivos Back-> scp -i KeyParFlytura.pem -r /mnt/c/Projetos/Flytura/Back/cmd/app/app  ec2-user@54.156.244.197:/home/ec2-user/
            5) sudo systemctl restart mongod

    Homologação 
        WEB
            0) IP de Homol: 18.210.18.180
            1) Instancia de produção
            2) ssh -i KeyParFlytura.pem ec2-user@18.210.18.180
            3) limpe a pasta do nginx ->sudo rm -rf /usr/share/nginx/html/*  e digite exit
            5) em /home/ec2-user limpe a pasta web -> sudo  rm -rf web
            4) Copiar Arquivos da usa maquina para a instancia Web-> scp -i KeyParFlytura.pem -r /mnt/c/Projetos/Flytura/web/dist/web/ ec2-user@18.210.18.180:/home/ec2-user
            5) sudo cp -r /home/ec2-user/web/browser/* /usr/share/nginx/html/

        BACK
            0) IP de Homol: 18.210.18.180
            1) Instancia de produção
            2) ssh -i KeyParFlytura.pem ec2-user@18.210.18.180
            3) apague o binario da aplicação go -> sudo rm -rf /home/ec2-user/app  e digite exit  
            4) Copiar Arquivos Back-> scp -i KeyParFlytura.pem -r /mnt/c/Projetos/Flytura/Back/cmd/app/app  ec2-user@18.210.18.180:/home/ec2-user/
            5) entre novamente na instancia  ssh-> -i KeyParFlytura.pem ec2-user@18.210.18.180
            6) sudo systemctl restart mongod